{% if menu %}
	<nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
		<div
			class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ theme.slug }}-navbar-collapse-1" aria-controls="{{ theme.slug }}-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation {{ theme.slug }}">
				<span class="navbar-toggler-icon"></span>
			</button>

			<h1 class="hdr-logo navbar-brand" role="banner">
				<a class="text-light hdr-logo-link" href="{{site.url}}" rel="home">
					{{site.name}}
				</a>
			</h1>
			{% include 'partial/menu-tree.twig' with {
				items: items
				} %}
		</div>
	</nav>
{% endif %}
