{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper container">
		<section class="article-content">
			<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				<h1 class="article-h1">{{ post.title }}
					{% if user %}
						<a class="float-right font-size-20" href="{{ post.edit_link }}">{{ _e('edit') }}</a>
					{% endif %}
				</h1>
				<p class="blog-author">
					<span>By</span>
					<a href="{{post.author.path}}">
						{{ post.author.name }}
					</a>
					<span>&bull;</span>
					<time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
				</p>
				<div class="article-body">
					<img class="float-right" src="{{ post.thumbnail.src|resize(1200, 300) }}">
					{{post.content}}
				</div>
			</article>
		</section>

		<!-- comment box -->
		<section
			class="comment-box">
			<!-- comments -->
			<div class="comments">
				{% if post.comments %}
					<h5>
						Comments
					</h5>
					{% for cmt in post.comments %}
						{% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				{% endif %}
			</div>
			{% if user %}
				{% if post.comment_status == "closed" %}
					<p>
						comments for this post are closed
					</p>
				{% else %}
					<!-- comment form -->
					{% include "comment-form.twig" %}
				{% endif %}
			{% endif %}
		</section>
	</div>
	<!-- /content-wrapper -->
{% endblock %}
